.ctf-writeup-content {
    font-family: 'Roboto', sans-serif;
}

.ctf-writeup-content img {
    max-width: 100%;
}

.ctf-writeup h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: green;
}

.ctf-writeup h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}