.ctf-writeup-content {
    font-family: 'Roboto', sans-serif;
}

.ctf-writeup-content img {
    max-width: 100%;
}

.ctf-writeup h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: green;
}

.ctf-writeup h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.pagination h5 {
    font-family: 'Lato', sans-serif;
    color: green;
    font-size: 20px;
}

.pagination a {
    text-decoration: none;
}

.pagination .lowlight {
    color: #696969;
    font-size: 16px;
}

.pagination .ctf {
    color: black;
    font-size: 14px;
}

.right {
    text-align: right;
    float: right;
}

.left {
    text-align: left;
    float: left;
}