.ctfCards {
    margin-top: -16px;
}

.ctfCards ul {
    list-style: none;
    padding: 0;
}

.ctfCards li {
    display: inline-block;
}

.ctfCardHead {
    overflow: auto;
}

.ctfCardHead h1 {
    float: left;
}

.ctfCardHead form {
    float: right;
    padding-top: 20px;
}

.ctfCardHead input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 12px;
    background-color: white;
    width: 300px;
}

.noResultMsg {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .ctfCards {
        margin-top: auto;
    }

    .ctfCardHead {
        width: 340px;
        max-width: 80vw;
        margin: auto;
        height: auto;
    }
    .ctfCardHead h1 {
        float: none;
    }

    .ctfCardHead form {
        padding-top: 0px;
        float: none;
    }

    .ctfCardHead input {
        width: 100%;
    }
    
    .noResultMsg {
        max-width: 80vw;
        margin: auto;
    }
}