.ctfCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90%;
    max-width: 340px;
    height: 140px;
    display: inline-block;
    margin: 10px 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.ctfCard h1 {
    font-size: 24px;
    color: black;
    font-family: "Roboto", sans-serif;
}

.ctfCard h2 {
    position: absolute;
    bottom: 2px;
    right: 14px;
    font-size: 14px;
    color: black;
    font-family: "Open Sans", sans-serif;
}

.ctfCard h3 {
    font-size: 18px;
    color: #62c493;
    font-family: "Open Sans", sans-serif;
}

.ctfCard .cardContainer {
    padding: 2px 16px;
}