@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.body {
    max-width: 1080px;
    margin: auto;
    padding: 60px 8px;
}