@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
}

.body {
    max-width: 1080px;
    margin: auto;
    padding: 8px 20px;
}