.logo {
    color: black;
    font-size: 28px;
    z-index: 2;
    font-family: 'Quicksand', serif;
    font-weight: 700;
    text-decoration: none;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}