.navBar {
    padding: 10px 0px;
    min-height: 50px;
    width: 100vw;
    margin: 0;
    position: relative;
    z-index: 99;
    box-shadow: 0 0 20px -8px #aaa;
}

.navItems {
    display: inline;
}

.navBar ul {
    list-style: none;
    float: right;
    margin-top: 4px;
    margin-right: 12px;
}

.navBar li {
    display: inline-block;
    font-size: 18px;
    padding: 10px 12px;
    font-family: 'Roboto', serif;
    color: green;
    text-decoration: none;
}

.navBar li:hover {
    background: #E8E8E8;
}

.navBar button {
    display: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .navBar button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: underline;
        display: block;
        padding: 4px 12px;
        float: right;
        margin-top: 6px;
        margin-right: 8px;
    }

    .navItems {
        display: none;
    }

    .navItems.open {
        display: block;
        text-align: left;
    }

    .navBar ul {
        margin-top: 16px;
        padding: 8px 0px;
        float: left;
        width: 100%;
    }
    .navBar li {
        display: block;
        padding-left: 24px;
    }
}