.navBar {
    padding: 10px 0px;
    max-width: 1080px;
    height: 50px;
}

.navItems {
    display: inline;
}

.navBar ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline-block;
    font-size: 18px;
    padding: 10px 12px;
    margin-top: -2px;
    font-family: 'Roboto', serif;
    color: green;
    text-decoration: none;
}

.navBar li:hover {
    background: #E8E8E8;
}

.navBar button {
    display: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .navBar button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: underline;
        display: block;
        margin: 0;
        padding: 4px 12px;
        float: right;
    }

    .navItems {
        display: none;
    }

    .navItems.open {
        display: block;
        width: 100%;
        text-align: left;
        background-color: lightgrey;
    }

    .navBar ul {
        float: left;
    }
    .navBar li {
        display: block;
    }
}