.thingsInfo strong {
    font-size: 18px;
    padding: 0px;
}

.thingsInfo h2 {
    font-family: 'Roboto', serif;
}

.thingsInfo li {
    list-style: none;
}

.thingsInfo ul {
    padding-left: 14px;
}

.thingsInfo p {
    font-family: 'Open Sans', sans-serif;
}